.w20px {
  width: 20px;
}

.w40px {
  width: 40px;
}

.w60px {
  width: 60px;
}

.w80px {
  width: 80px;
}

.w100px {
  width: 100px;
}

.w120px {
  width: 120px;
}

.w160px {
  width: 160px;
}

.w400px {
  width: 400px;
}
